<div class="cart--RecomMini">
    <div class="top-border-nav" style="margin: 20px 0;"></div>
  <cart-recommended class="cart-recommended" data-mobile-count="1" data-desktop-count="2" data-mobile-control="false" data-desktop-control="true">

    <h2 class="header--Text">You May Also like</h2>
    <div class="cart-recommended-swiper">
      <div class="cart-recommended-wrapper swiper-wrapper">
        
        
      </div>
    </div>
    <div class="slide-button-prev slider-control">
      <svg class="desk-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M26.0002 52C39.8073 52 52 39.8073 52 26.0002C52 12.1932 39.8073 0 26.0002 0C12.1932 0 0 12.1932 0 26.0002C0.015564 39.8008 12.1992 51.9844 26.0002 52ZM26.0002 3.50029C38.4266 3.50029 48.5002 13.5738 48.5002 26.0002C48.5002 38.4266 38.4266 48.5002 26.0002 48.5002C13.5738 48.5002 3.50029 38.4266 3.50029 26.0002C3.51448 13.5798 13.5798 3.51448 26.0002 3.50029Z" fill="black"/>
        <path d="M29.471 35.9997C29.769 36.0063 30.0617 35.9199 30.3084 35.7524C30.555 35.5849 30.7433 35.3446 30.8472 35.0652C30.951 34.7857 30.9652 34.4809 30.8877 34.193C30.8103 33.9051 30.6451 33.6486 30.4151 33.4589L21.6381 25.9399L30.4151 18.4235C30.5742 18.3066 30.7074 18.1581 30.8065 17.9872C30.9055 17.8164 30.9683 17.6269 30.9907 17.4307C31.0131 17.2345 30.9948 17.0358 30.9369 16.847C30.879 16.6582 30.7828 16.4834 30.6542 16.3335C30.5256 16.1837 30.3674 16.0621 30.1896 15.9762C30.0118 15.8903 29.8182 15.842 29.6208 15.8344C29.4235 15.8268 29.2267 15.8599 29.0428 15.9318C28.8589 16.0038 28.6919 16.1129 28.5521 16.2525L18.5033 24.8501C18.3455 24.9848 18.2188 25.152 18.1319 25.3403C18.045 25.5287 18 25.7338 18 25.9412C18 26.1487 18.045 26.3537 18.1319 26.5421C18.2188 26.7305 18.3455 26.8978 18.5033 27.0324L28.5521 35.6384C28.8059 35.8639 29.1315 35.9921 29.471 36V35.9997Z" fill="black"/>
      </svg>
      <svg class="mobile-svg" width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M28.8281 6.82812H4.0103L8.12147 2.73687C8.5802 2.28031 8.58196 1.53834 8.12539 1.07961C7.66883 0.620816 6.9268 0.619117 6.46807 1.07562L0.344788 7.16937C0.344378 7.16972 0.344085 7.17013 0.343733 7.17048C-0.113825 7.62705 -0.11529 8.37142 0.343616 8.82951C0.344026 8.82986 0.344319 8.83027 0.344671 8.83062L6.46795 14.9244C6.92662 15.3808 7.66866 15.3792 8.12528 14.9204C8.58184 14.4617 8.58008 13.7197 8.12135 13.2631L4.0103 9.17187H28.8281C29.4754 9.17187 30 8.64722 30 8C30 7.35277 29.4754 6.82812 28.8281 6.82812Z" fill="black"></path>
      </svg>
    </div>
    <div class="slide-button-next slider-control">
      <svg class="desk-svg" width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M25.9998 0C12.1927 0 0 12.1927 0 25.9998C0 39.8068 12.1927 52 25.9998 52C39.8068 52 52 39.8068 52 25.9998C51.9844 12.1992 39.8008 0.0155639 25.9998 0ZM25.9998 48.4997C13.5734 48.4997 3.49984 38.4262 3.49984 25.9998C3.49984 13.5734 13.5734 3.49984 25.9998 3.49984C38.4262 3.49984 48.4997 13.5734 48.4997 25.9998C48.4855 38.4202 38.4202 48.4855 25.9998 48.4997Z" fill="black"/>
        <path d="M22.529 16.0003C22.231 15.9937 21.9383 16.0801 21.6916 16.2476C21.445 16.4151 21.2567 16.6554 21.1528 16.9348C21.049 17.2143 21.0348 17.5191 21.1123 17.807C21.1897 18.0949 21.3549 18.3514 21.5849 18.5411L30.3619 26.0601L21.5849 33.5765C21.4258 33.6934 21.2926 33.8419 21.1935 34.0128C21.0945 34.1836 21.0317 34.3731 21.0093 34.5693C20.9869 34.7655 21.0052 34.9642 21.0631 35.153C21.121 35.3418 21.2172 35.5166 21.3458 35.6665C21.4744 35.8163 21.6326 35.9379 21.8104 36.0238C21.9882 36.1097 22.1818 36.158 22.3792 36.1656C22.5765 36.1732 22.7733 36.1401 22.9572 36.0682C23.1411 35.9962 23.3081 35.8871 23.4479 35.7475L33.4967 27.1499C33.6545 27.0152 33.7812 26.848 33.8681 26.6597C33.955 26.4713 34 26.2662 34 26.0588C34 25.8513 33.955 25.6463 33.8681 25.4579C33.7812 25.2695 33.6545 25.1022 33.4967 24.9676L23.4479 16.3616C23.1941 16.1361 22.8685 16.0079 22.529 16V16.0003Z" fill="black"/>
      </svg>
      <svg class="mobile-svg" width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.17185 9.17188L25.9897 9.17188L21.8785 13.2631C21.4198 13.7197 21.418 14.4617 21.8746 14.9204C22.3312 15.3792 23.0732 15.3809 23.5319 14.9244L29.6552 8.83063C29.6556 8.83028 29.6559 8.82987 29.6563 8.82952C30.1138 8.37295 30.1153 7.62858 29.6564 7.17049C29.656 7.17014 29.6557 7.16973 29.6553 7.16938L23.532 1.07563C23.0734 0.619184 22.3313 0.620766 21.8747 1.07961C21.4182 1.53834 21.4199 2.28032 21.8786 2.73688L25.9897 6.82813L1.17185 6.82813C0.524628 6.82813 -2.09808e-05 7.35278 -2.09808e-05 8C-2.09808e-05 8.64723 0.524628 9.17188 1.17185 9.17188Z" fill="black"></path>
      </svg>
    </div>
    
  </cart-recommended>
</div>

{%- style -%}
.cart--RecomMini .header--Text{
    font-size: 18px;
}

.cart--RecomMini .top-border-nav{
    display: none;
}

@media only screen and (max-width: 989px){
    .cart--RecomMini .header--Text{
        font-size: 18px;
        padding: 0;
    }

    .cart--RecomMini .top-border-nav{
        display: block;
    }
}

{%- endstyle -%}