<div class="cart--Mini">
  <h2 class="cart--HeadText">Your Items</h2>
  <cart-all-item> 
    <temp id="cart-items-alt" class="cart-items--mobile cart-hidden" media="mobile">
      <div class="cart--items product--card-media clip--corner clip--corner-corner-10">
        <div class="items--col items--center cart-items--image">
            <a href="${url}">
              <div style="height: 100%;">
                <img src="${featured_image.url}"
                  class=""
                  alt="${featured_image.alt}"
                  loading="lazy"
                  width="150"
                >
            </div>
          </a>
        </div>

        <div class="items--col">
            <a href="${url}" class="cart-item__name h4 break">${title}</a>
            <div class="cart-iteams--variants">
              <div class="product-option">${options_with_values.0.value}</div>
              <div class="product-option">${options_with_values.1.value}</div>
            </div>

            <div class="position--Relative">
            <div class="cart-item--price">
              <span class="cart-item--totalPrice">${original_line_price}</span>
  
              <div class="cart-item__error" id="Line-item-error-1" role="alert">
                <small class="cart-item__error-text"></small>
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                </path></svg>
              </div>

            </div>

            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>

          </div>
          
        </div>

        <div class="items--col items--end justify--around">

          <div class="cart-item--price">
            ${original_price}
          </div>

          <cart-item-quantity class="cart-quantity">
            <button class="quantity__button" name="minus" type="button">
              {% render 'icon-minus' %}
            </button>
            <input class="quantity__input"
              type="number"
              name="updates[]"
              value="${quantity}"
              min="0"
            >
            <button class="quantity__button" name="plus" type="button">
              {% render 'icon-plus' %}
            </button>
          </cart-item-quantity>

          <cart-remove-btn class="cart-item--quantity">
            <a href="{{ item.url_to_remove }}" class="button button--tertiary">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                <path d="M8.93391 0C9.16496 0.0816327 9.396 0.163265 9.62705 0.326531C10.0121 0.571429 10.1662 1.06122 10.2432 1.55102C10.2432 1.71429 10.2432 1.87755 10.2432 2.04082C10.3202 2.04082 10.3202 2.04082 10.3972 2.04082C11.2444 2.04082 12.1685 2.04082 13.0157 2.04082C13.7089 2.04082 14.1709 2.69388 13.9399 3.34694C13.8629 3.67347 13.6318 3.91837 13.3238 4C13.2468 4 13.0927 4 13.0157 4C9.01093 4 5.00613 4 1.07836 4C0.693284 4 0.385223 3.91837 0.154177 3.5102C-0.230899 2.93878 0.154177 2.12245 0.770299 2.04082C0.847314 2.04082 1.00134 2.04082 1.07836 2.04082C1.92553 2.04082 2.77269 2.04082 3.61986 2.04082C3.69688 2.04082 3.69688 2.04082 3.85091 2.04082C3.85091 1.79592 3.85091 1.55102 3.85091 1.38776C3.69688 0.653061 4.15897 0.163265 4.77509 0C4.77509 0 4.77509 0 4.8521 0C6.16136 0 7.54764 0 8.93391 0ZM9.24197 1.95918C9.24197 1.79592 9.24197 1.71429 9.24197 1.55102C9.24197 1.14286 9.08794 0.979592 8.70286 0.979592C8.00973 0.979592 7.39361 0.979592 6.70047 0.979592C6.16136 0.979592 5.62226 0.979592 5.08315 0.979592C4.85211 0.979592 4.62106 1.14286 4.62106 1.38776C4.62106 1.55102 4.62106 1.79592 4.62106 2.04082C6.08435 1.95918 7.62465 1.95918 9.24197 1.95918Z" fill="white"/>
                <path d="M1 5C4.97452 5 9.02548 5 13 5C12.9236 5.52381 12.9236 6.04762 12.8471 6.57143C12.7707 7.46939 12.6943 8.36735 12.6178 9.34014C12.5414 10.3878 12.465 11.4354 12.3121 12.483C12.2357 13.2313 12.1592 13.9796 12.0828 14.7279C12.0064 15.4762 11.3949 16 10.6306 16C8.10828 16 5.66242 16 3.14013 16C2.3758 16 1.76433 15.4762 1.6879 14.7279C1.61147 13.6803 1.53503 12.5578 1.38217 11.5102C1.30573 10.3878 1.15287 9.19048 1.07643 8.06803C1.15287 7.02041 1.07643 5.97279 1 5ZM5.12739 13.7551C5.05096 12.932 5.05096 12.2585 4.97452 11.5102C4.89809 10.2381 4.82166 9.04082 4.74522 7.76871C4.74522 7.31973 4.66879 6.79592 4.66879 6.34694C4.66879 6.12245 4.43949 5.97279 4.21019 5.89796C3.98089 5.89796 3.75159 6.04762 3.75159 6.27211C3.75159 6.34694 3.75159 6.4966 3.75159 6.57143C3.82803 7.84354 3.90446 9.04082 3.98089 10.3129C4.05732 11.4354 4.13376 12.6327 4.21019 13.7551C4.21019 13.9796 4.28662 14.0544 4.51592 14.1293C4.82166 14.2041 5.12739 13.9796 5.12739 13.7551ZM10.2484 6.4966C10.2484 6.42177 10.2484 6.42177 10.2484 6.4966C10.2484 6.12245 10.0955 5.97279 9.78981 5.89796C9.56051 5.89796 9.33121 6.12245 9.33121 6.34694C9.33121 6.4966 9.33121 6.64626 9.33121 6.79592C9.25478 7.84354 9.17834 8.89116 9.10191 9.93878C9.02548 11.1361 8.94904 12.3333 8.87261 13.6054C8.87261 13.9048 9.02548 14.1293 9.33121 14.1293C9.63694 14.1293 9.78981 13.9048 9.78981 13.6054C9.86624 12.7823 9.86624 11.8844 9.94268 11.0612C10.0191 9.56463 10.0955 7.9932 10.2484 6.4966ZM7.42038 10.0136C7.42038 8.81633 7.42038 7.69388 7.42038 6.4966C7.42038 6.42177 7.42038 6.34694 7.42038 6.27211C7.42038 5.97279 7.03822 5.7483 6.73248 5.89796C6.57962 6.04762 6.50318 6.19728 6.50318 6.42177C6.50318 8.81633 6.50318 11.2857 6.50318 13.6803V13.7551C6.50318 13.9048 6.65605 14.0544 6.80892 14.1293C7.11465 14.2789 7.42038 14.0544 7.42038 13.6803C7.42038 12.4082 7.42038 11.2109 7.42038 10.0136Z" fill="white"/>
              </svg>
            </a>
          </cart-remove-btn>


        </div>       


      </div>

    </temp>
    
      <temp id="cart-items-alt" class="cart-hidden" media="desktop">
        <div class="cart--items product--card-media clip--corner clip--corner-corner-10">
          <div class="items--col items--center cart-items--image">
              <a href="${url}">
                <div style="height: 100%;">
                  <img src="${featured_image.url}"
                    class=""
                    alt="${featured_image.alt}"
                    loading="lazy"
                    width="150"
                  >
              </div>
            </a>
          </div>

          <div class="items--col">
            <a href="${url}" class="cart-item__name h4 break">${title}</a>
            <div class="cart-iteams--variants">
              <div class="product-option">${options_with_values.0.value}</div>
              <div class="product-option">${options_with_values.1.value}

                <div class="cart-item__error" id="Line-item-error-1" role="alert">
                  <small class="cart-item__error-text"></small>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"></circle>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"></circle>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"></path>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </path></svg>
                </div>

              </div>
            </div>
            
          </div>

          <div class="items--col items--center">
            <div class="cart-item--price">
              ${original_price}
            </div>
          </div>

          <div class="items--col items--center">
            <cart-item-quantity class="cart-quantity">
              <button class="quantity__button" name="minus" type="button">
                {% render 'icon-minus' %}
              </button>
              <input class="quantity__input"
                type="number"
                name="updates[]"
                value="${quantity}"
                min="0"
              >
              <button class="quantity__button" name="plus" type="button">
                {% render 'icon-plus' %}
              </button>
            </cart-item-quantity>


          </div>

          <div class="items--col items--center">
            <div class="cart-item--price cart-item--totalPrice">
              ${original_line_price}
            </div>

            <div class="loading-overlay">
              <div class="loading-overlay__spinner">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div>
          </div>

          <div class="items--col items--center">
            <cart-remove-btn class="cart-item--quantity">
              <a href="{{ item.url_to_remove }}" class="button button--tertiary">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" aria-hidden="true" focusable="false" role="presentation" class="icon icon-remove">
                  <path d="M8.93391 0C9.16496 0.0816327 9.396 0.163265 9.62705 0.326531C10.0121 0.571429 10.1662 1.06122 10.2432 1.55102C10.2432 1.71429 10.2432 1.87755 10.2432 2.04082C10.3202 2.04082 10.3202 2.04082 10.3972 2.04082C11.2444 2.04082 12.1685 2.04082 13.0157 2.04082C13.7089 2.04082 14.1709 2.69388 13.9399 3.34694C13.8629 3.67347 13.6318 3.91837 13.3238 4C13.2468 4 13.0927 4 13.0157 4C9.01093 4 5.00613 4 1.07836 4C0.693284 4 0.385223 3.91837 0.154177 3.5102C-0.230899 2.93878 0.154177 2.12245 0.770299 2.04082C0.847314 2.04082 1.00134 2.04082 1.07836 2.04082C1.92553 2.04082 2.77269 2.04082 3.61986 2.04082C3.69688 2.04082 3.69688 2.04082 3.85091 2.04082C3.85091 1.79592 3.85091 1.55102 3.85091 1.38776C3.69688 0.653061 4.15897 0.163265 4.77509 0C4.77509 0 4.77509 0 4.8521 0C6.16136 0 7.54764 0 8.93391 0ZM9.24197 1.95918C9.24197 1.79592 9.24197 1.71429 9.24197 1.55102C9.24197 1.14286 9.08794 0.979592 8.70286 0.979592C8.00973 0.979592 7.39361 0.979592 6.70047 0.979592C6.16136 0.979592 5.62226 0.979592 5.08315 0.979592C4.85211 0.979592 4.62106 1.14286 4.62106 1.38776C4.62106 1.55102 4.62106 1.79592 4.62106 2.04082C6.08435 1.95918 7.62465 1.95918 9.24197 1.95918Z" fill="white"/>
                  <path d="M1 5C4.97452 5 9.02548 5 13 5C12.9236 5.52381 12.9236 6.04762 12.8471 6.57143C12.7707 7.46939 12.6943 8.36735 12.6178 9.34014C12.5414 10.3878 12.465 11.4354 12.3121 12.483C12.2357 13.2313 12.1592 13.9796 12.0828 14.7279C12.0064 15.4762 11.3949 16 10.6306 16C8.10828 16 5.66242 16 3.14013 16C2.3758 16 1.76433 15.4762 1.6879 14.7279C1.61147 13.6803 1.53503 12.5578 1.38217 11.5102C1.30573 10.3878 1.15287 9.19048 1.07643 8.06803C1.15287 7.02041 1.07643 5.97279 1 5ZM5.12739 13.7551C5.05096 12.932 5.05096 12.2585 4.97452 11.5102C4.89809 10.2381 4.82166 9.04082 4.74522 7.76871C4.74522 7.31973 4.66879 6.79592 4.66879 6.34694C4.66879 6.12245 4.43949 5.97279 4.21019 5.89796C3.98089 5.89796 3.75159 6.04762 3.75159 6.27211C3.75159 6.34694 3.75159 6.4966 3.75159 6.57143C3.82803 7.84354 3.90446 9.04082 3.98089 10.3129C4.05732 11.4354 4.13376 12.6327 4.21019 13.7551C4.21019 13.9796 4.28662 14.0544 4.51592 14.1293C4.82166 14.2041 5.12739 13.9796 5.12739 13.7551ZM10.2484 6.4966C10.2484 6.42177 10.2484 6.42177 10.2484 6.4966C10.2484 6.12245 10.0955 5.97279 9.78981 5.89796C9.56051 5.89796 9.33121 6.12245 9.33121 6.34694C9.33121 6.4966 9.33121 6.64626 9.33121 6.79592C9.25478 7.84354 9.17834 8.89116 9.10191 9.93878C9.02548 11.1361 8.94904 12.3333 8.87261 13.6054C8.87261 13.9048 9.02548 14.1293 9.33121 14.1293C9.63694 14.1293 9.78981 13.9048 9.78981 13.6054C9.86624 12.7823 9.86624 11.8844 9.94268 11.0612C10.0191 9.56463 10.0955 7.9932 10.2484 6.4966ZM7.42038 10.0136C7.42038 8.81633 7.42038 7.69388 7.42038 6.4966C7.42038 6.42177 7.42038 6.34694 7.42038 6.27211C7.42038 5.97279 7.03822 5.7483 6.73248 5.89796C6.57962 6.04762 6.50318 6.19728 6.50318 6.42177C6.50318 8.81633 6.50318 11.2857 6.50318 13.6803V13.7551C6.50318 13.9048 6.65605 14.0544 6.80892 14.1293C7.11465 14.2789 7.42038 14.0544 7.42038 13.6803C7.42038 12.4082 7.42038 11.2109 7.42038 10.0136Z" fill="white"/>
                </svg>
              </a>
            </cart-remove-btn>

          </div>

          


        </div>

      </temp>
      <div id="cart-item-loader">
        
      </div>

      <div class="cart--MiniFooter">
        <div class="cart--subTotal">
          <span>
            Total = 
          </span>
          <span class="cart--subTotalUSD">
            $0.00
          </span>
        </div>
        <div>
          <span class="item--counter-head">Items (<span id="cart-count--bubble">0</span>)</span>
        </div>
      </div>

      <div class="cart--MiniBtns">
        
        <button type="submit" name="add" class="product-form__submit button button--skewed button--full-width button--secondary">
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.9434 11.8164H0.732422C0.327588 11.8164 0 12.144 0 12.5488V22.8027C0 24.0144 0.985645 25 2.19727 25H15.4785C16.6901 25 17.6758 24.0144 17.6758 22.8027V12.5488C17.6758 12.144 17.3482 11.8164 16.9434 11.8164ZM13.1836 16.2109C13.1836 18.6342 11.2124 20.6055 8.78906 20.6055C6.36577 20.6055 4.39453 18.6342 4.39453 16.2109V15.4785C4.39453 15.0737 4.72212 14.7461 5.12695 14.7461C5.53179 14.7461 5.85938 15.0737 5.85938 15.4785V16.2109C5.85938 17.8267 7.17329 19.1406 8.78906 19.1406C10.4048 19.1406 11.7188 17.8267 11.7188 16.2109V15.4785C11.7188 15.0737 12.0463 14.7461 12.4512 14.7461C12.856 14.7461 13.1836 15.0737 13.1836 15.4785V16.2109Z" fill="black"></path>
            <path d="M24.2676 5.95703H20.5078V4.39453C20.5078 1.97124 18.5366 0 16.1133 0C13.69 0 11.7188 1.97124 11.7188 4.39453V5.95703H7.95898C7.55415 5.95703 7.22656 6.28462 7.22656 6.68945V10.3516H16.9434C18.155 10.3516 19.1406 11.3372 19.1406 12.5488V22.8027C19.1406 23.6303 18.8542 24.386 18.3895 25H22.8027C24.0144 25 25 24.0144 25 22.8027V6.68945C25 6.28462 24.6724 5.95703 24.2676 5.95703ZM19.043 5.95703H13.1836V4.39453C13.1836 2.77876 14.4975 1.46484 16.1133 1.46484C17.7291 1.46484 19.043 2.77876 19.043 4.39453V5.95703Z" fill="black"></path>
          </svg>
          <span>YOUR BAG</span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>

        <button type="button" name="add-to-wishlist" class="button--skewed button button--full-width button--primary">
          <span class="add-to-cart--icon button--icon">
            <svg width="25" height="30" viewBox="0 0 25 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_1313_5531)">
              <path d="M8.95382 30C8.80128 29.9453 8.64875 29.8906 8.50385 29.8281C7.49714 29.3672 7.07767 28.1953 7.55815 27.1719C7.58103 27.1328 7.59628 27.0859 7.64204 27.0078C7.52001 27 7.42087 26.9922 7.32172 26.9922C6.24637 26.9922 5.17102 27 4.08804 26.9844C2.60086 26.9609 1.57127 25.4531 2.08987 24.0313C2.2119 23.6875 2.45595 23.3594 2.72288 23.1172C4.05754 21.8906 5.4227 20.6953 6.78023 19.5C6.92514 19.375 6.95565 19.2656 6.90989 19.0781C5.63624 13.6406 4.37023 8.19531 3.11184 2.75C3.05083 2.49219 2.94405 2.4375 2.70763 2.4375C1.91446 2.45313 1.12892 2.44531 0.335756 2.44531C0.236611 2.44531 0.129838 2.44531 0.0078125 2.44531C0.0078125 1.83594 0.0078125 1.25781 0.0078125 0.664062C0.106958 0.65625 0.198478 0.648438 0.289997 0.648438C1.39585 0.648438 2.50171 0.648438 3.60757 0.648438C4.17956 0.648438 4.46937 0.882812 4.61428 1.44531C5.06425 3.24219 5.52185 5.03125 5.96419 6.82812C6.00995 7.01562 6.07859 7.09375 6.27688 7.11719C6.8565 7.1875 7.42087 7.30469 8.00049 7.375C8.19116 7.39844 8.24454 7.5 8.30556 7.65625C9.28939 10.1875 11.0816 11.7656 13.7128 12.1953C16.3592 12.625 18.5405 11.6641 20.2336 9.54688C20.3785 9.36719 20.5081 9.28906 20.7293 9.32812C21.6902 9.48438 22.6512 9.63281 23.6121 9.78125C23.9401 9.83594 24.0164 9.92969 24.0087 10.2656C23.9477 13.4844 23.8943 16.7109 23.8333 19.9297C23.8257 20.2891 23.696 20.3906 23.2918 20.3906C18.5099 20.3906 13.7204 20.3906 8.93856 20.3828C8.67926 20.3828 8.48097 20.4453 8.27505 20.6328C6.87938 21.875 5.47609 23.1016 4.07279 24.3359C4.00415 24.3906 3.92026 24.4453 3.88975 24.5156C3.83637 24.6484 3.7601 24.8203 3.79823 24.9375C3.82874 25.0313 4.01178 25.0859 4.14143 25.125C4.22532 25.1563 4.3321 25.1328 4.42361 25.1328C11.1655 25.1328 17.8998 25.1328 24.6417 25.1328C24.7638 25.1328 24.8858 25.1328 25.0231 25.1328C25.0231 25.7578 25.0231 26.3438 25.0231 26.9766C23.9096 26.9766 22.8037 26.9766 21.6979 26.9766C21.7741 27.2969 21.8809 27.5859 21.9114 27.875C21.9953 28.8516 21.4081 29.6797 20.4929 29.9375C20.4319 29.9531 20.3708 29.9766 20.3098 30C20.1039 30 19.8904 30 19.6768 30C19.5777 29.9688 19.4862 29.9297 19.387 29.8984C18.3879 29.5547 17.8464 28.4922 18.1515 27.4609C18.1973 27.3125 18.2659 27.1641 18.3269 27C15.8711 27 13.4383 27 10.9901 27C11.013 27.0625 11.0283 27.1094 11.0435 27.1484C11.585 28.3359 11.0206 29.5859 9.78512 29.9453C9.73936 29.9609 9.70122 29.9844 9.66309 30C9.41141 30 9.18261 30 8.95382 30Z" fill="white"/>
              <path d="M14.7345 10.4609C11.8822 10.4141 9.60183 8.03907 9.65522 5.16407C9.7086 2.23438 12.0347 -0.0468673 14.9176 7.66286e-06C17.7013 0.0468827 19.9206 2.46094 19.8749 5.38282C19.8291 8.1797 17.4801 10.5 14.7345 10.4609ZM11.5847 5.81251C12.0805 6.42188 12.5686 7.00782 13.0491 7.60157C13.4838 8.13282 14.0558 8.14845 14.521 7.64063C15.154 6.95313 15.787 6.26563 16.42 5.57032C16.8776 5.07032 17.3428 4.56251 17.8157 4.04688C17.381 3.62501 16.9539 3.21876 16.5192 2.79688C15.6268 3.77345 14.7422 4.73438 13.8346 5.71876C13.5295 5.34376 13.2321 4.9922 12.9347 4.63282C12.4771 5.03907 12.0347 5.42188 11.5847 5.81251Z" fill="white"/>
              </g>
              <defs>
              <clipPath id="clip0_1313_5531">
              <rect width="25" height="30" fill="white"/>
              </clipPath>
              </defs>
            </svg>
          </span>

          <span>CHECKOUT</span>
          <div class="loading-overlay__spinner hidden">
            <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
          </div>
        </button>

      </div>
    </cart-all-item>

  </div>

{%- style -%}

.cart--Mini .cart--HeadText{
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}

.cart--Mini .cart--MiniFooter{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #000000;
}

.cart--Mini .cart--MiniBtns{
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.cart--Mini .cart--MiniBtns > *{
  max-width: 250px;
}

.cart--Mini .cart--MiniFooter > *{
  padding: 0 10px 0 0;
}

.cart--Mini .cart--subTotal{
  width: auto;
  display: block;
}
{%- endstyle -%}