<span class="on--close">
  <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M23.7499 11.25H13.7501V1.24992C13.7501 0.560074 13.19 0 12.4999 0C11.8101 0 11.25 0.560074 11.25 1.24992V11.25H1.24992C0.560074 11.25 0 11.8101 0 12.4999C0 13.19 0.560074 13.7501 1.24992 13.7501H11.25V23.7499C11.25 24.44 11.8101 25.0001 12.4999 25.0001C13.19 25.0001 13.7501 24.44 13.7501 23.7499V13.7501H23.7499C24.44 13.7501 25.0001 13.19 25.0001 12.4999C25.0001 11.8101 24.44 11.25 23.7499 11.25Z" fill="black"/>
  </svg>
</span>

<span class="on--open">
  <svg width="25" height="3" viewBox="0 0 25 3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M23.9583 0.458313H1.04169C0.466369 0.458313 0 0.924685 0 1.50001C0 2.07533 0.466369 2.5417 1.04169 2.5417H23.9584C24.5337 2.5417 25 2.07533 25 1.50001C25 0.924685 24.5336 0.458313 23.9583 0.458313Z" fill="black"/>
  </svg>
</span>